snippet img "An image"
<<img path="$1" height=$2>>
endsnippet

snippet tex "A LaTeX Expression"
<<tex formula="$1" height=$2>>
endsnippet

snippet v> "v vector"
\vec{v}
endsnippet

snippet u> "u vector"
\vec{u}
endsnippet
