snippet dv "Define a new variable"
(defvar ${1:variable} ${2:value})
endsnippet

snippet sq "Set the value of a variable"
(setq ${1:variable} ${2:value})
endsnippet

snippet \  "Create a new command"
(${1:command} ${2:value 1} ${3:value 2})
endsnippet
